<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welocom To Text Analyzer.Enter your Text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin:0px;width:1574px;height:208px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPER CASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcount">Chracter Count<br>
    <button type="submit">Anylyze Text</button>

</form>
</body>
</html>
